
<div class="flex gap-2 place-self-start">
    <button
      mat-mini-fab
      color="primary"
      matTooltip="Leave room"
      (click)="navigateToHomePage()"
    >
      <mat-icon>logout</mat-icon>
    </button>

    <button
      mat-mini-fab
      color="primary"
      matTooltip="Copy room link to clipboard"
    >
      <mat-icon>link</mat-icon>
    </button>

    <button
      mat-mini-fab
      color="primary"
      matTooltip="You are the room's admin"
    >
      <mat-icon>star</mat-icon>
    </button>
</div>
